/Roaming/Everything/*.db
/Roaming/Path of Exile/ShaderCacheD3D11
/Roaming/Vortex/Code Cache/
Local/Google/Chrome/User Data/Profile 1/README
Local/Google/Chrome/User Data/Profile 1/Trusted Vault
Local/Google/Chrome/User Data/Profile 1/Translate Ranker Model
Local/Google/Chrome/User Data/Profile 1/Web Data
Local/Google/Chrome/User Data/Profile 1/heavy_ad_intervention_opt_out.db
Local/Google/Chrome/User Data/Profile 1/Favicons
/Roaming/Vortex/Cache
/Roaming/Path of Exile/Minimap
