[submodule ".DataGrip2019.3"]
	url = https://github.com/perXautomatik/DatagripSettings.git
[submodule "Roaming/JetBrains/DataGrip2021.1_1"]
	branch = --
	path = Roaming/JetBrains/DataGrip2021.1_1
	url = https://github.com/perXautomatik/DatagripSettings.git
[submodule "Roaming/JetBrains/DataGrip2022.1"]
	branch = --
	path = Roaming/JetBrains/DataGrip2022.1
	url = https://github.com/perXautomatik/DatagripSettings.git
[submodule "Roaming/JetBrains/DataGrip2022.1-backup"]
	branch = --
	path = Roaming/JetBrains/DataGrip2022.1-backup
	url = https://github.com/perXautomatik/DatagripSettings.git
[submodule "Roaming/JetBrains/DataGrip2022.1_1"]
	branch = --
	path = Roaming/JetBrains/DataGrip2022.1_1
	url = https://github.com/perXautomatik/DatagripSettings.git
[submodule "Roaming/Opera Software/Opera GX Stable/_side_profiles"]
	branch = --
	path = Roaming/Opera Software/Opera GX Stable/_side_profiles
