{"_intDictionary":{"_keysList":["FriendlyFire","LocalCoopMode","GamepadVibration","GraphicViolence","MutePukeSounds","UseSteamInput","AutomaticItemSorting","AlwaysShowHealthNumbersForPlayer","ShowPlayerPortraitInDialogue","ShowTutorials","DialogueZoom","MinimapUsage","RollTowardsMouseCusor","AutomaticWeaponTriggering","AutomaticWeaponReload","DirectMovementDirection"],"_valuesList":[1,1,1,1,0,0,1,0,1,1,0,0,0,0,1,0]},"_floatDictionary":{"_keysList":[],"_valuesList":[]},"_stringDictionary":{"_keysList":["FontSelection"],"_valuesList":[""]}}