<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fomm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fomm.Properties.Settings>
            <setting name="settingsUpgraded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rememberedGameMode" serializeAs="String">
                <value>FalloutNV</value>
            </setting>
            <setting name="rememberGameMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="falloutNewVegasWorkingDirectory" serializeAs="String">
                <value>K:\SteamLibrary\steamapps\common\Fallout New Vegas</value>
            </setting>
            <setting name="falloutNewVegasModDirectory" serializeAs="String">
                <value>K:\Vortex Mods</value>
            </setting>
            <setting name="falloutNewVegasInstallInfoDirectory" serializeAs="String">
                <value>K:\Modding\fomm\installinfo</value>
            </setting>
            <setting name="falloutNewVegasDoneSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pluginGroups" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Items</string>
                        <string>Items/Guns</string>
                        <string>Items/Armor</string>
                        <string>Items/Misc</string>
                        <string>Locations</string>
                        <string>Locations/Houses</string>
                        <string>Locations/Interiors</string>
                        <string>Locations/Exteriors</string>
                        <string>Gameplay</string>
                        <string>Gameplay/Perks</string>
                        <string>Gameplay/Realism</string>
                        <string>Gameplay/Combat</string>
                        <string>Gameplay/Loot</string>
                        <string>Gameplay/Enemies</string>
                        <string>Quests</string>
                        <string>Companions</string>
                        <string>ModResource</string>
                        <string>UI</string>
                        <string>Music</string>
                        <string>Replacers</string>
                        <string>Replacers/Meshes</string>
                        <string>Replacers/Textures</string>
                        <string>Replacers/Sounds</string>
                        <string>Replacers/Shaders</string>
                        <string>Tweaks</string>
                        <string>Fixes</string>
                        <string>Cosmetic</string>
                        <string>Cosmetic/Races</string>
                        <string>Cosmetic/Eyes</string>
                        <string>Cosmetic/Hair</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="checkForNewModVersionsInitialized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="windowPositions" serializeAs="Xml">
                <value>
                    <WindowPositions>
                        <position window="PackageManager">
                            <LocationInfo>
                                <location>
                                    <Point xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                                        <X>362</X>
                                        <Y>45</Y>
                                    </Point>
                                </location>
                                <size>
                                    <Size xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                                        <Width>625</Width>
                                        <Height>599</Height>
                                    </Size>
                                </size>
                                <isMaximized>
                                    <boolean>false</boolean>
                                </isMaximized>
                            </LocationInfo>
                        </position>
                        <position window="MainForm">
                            <LocationInfo>
                                <location>
                                    <Point xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                                        <X>400</X>
                                        <Y>44</Y>
                                    </Point>
                                </location>
                                <size>
                                    <Size xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                                        <Width>549</Width>
                                        <Height>600</Height>
                                    </Size>
                                </size>
                                <isMaximized>
                                    <boolean>false</boolean>
                                </isMaximized>
                            </LocationInfo>
                        </position>
                    </WindowPositions>
                </value>
            </setting>
            <setting name="checkForNewModVersions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="addMissingInfoToMods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="addMissingInfoToModsInitialized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PackageManagerColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>200</string>
                        <string>100</string>
                        <string>100</string>
                        <string>100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SelectedAddFomodAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PackageManagerPanelSplit" serializeAs="String">
                <value>388</value>
            </setting>
            <setting name="MainFormColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>219</string>
                        <string>87</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MainFormPanelSplit" serializeAs="String">
                <value>402</value>
            </setting>
        </Fomm.Properties.Settings>
    </userSettings>
</configuration>