<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Management.UI.Internal.HelpWindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Microsoft.Management.UI.Internal.ShowCommand.ShowCommandSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.Management.UI.Internal.HelpWindowSettings>
            <setting name="HelpWindowWidth" serializeAs="String">
                <value>592</value>
            </setting>
            <setting name="HelpWindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
        </Microsoft.Management.UI.Internal.HelpWindowSettings>
        <UserSettings>
            <setting name="ConsolePaneBackgroundColor" serializeAs="String">
                <value>#FF012456</value>
            </setting>
            <setting name="VerboseBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="ShowCommandsOnFirstPowerShellTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOutlining" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsolePaneTextBackgroundColor" serializeAs="String">
                <value>#FF012456</value>
            </setting>
            <setting name="Column0ToolsAndEditor" serializeAs="String">
                <value>0.37</value>
            </setting>
            <setting name="WarningForegroundColor" serializeAs="String">
                <value>#FFFF8C00</value>
            </setting>
            <setting name="XmlTokenColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Comment,#FF006400</string>
                        <string>CommentDelimiter,#FF008000</string>
                        <string>ElementName,#FF8B0000</string>
                        <string>MarkupExtension,#FFFF8C00</string>
                        <string>Attribute,#FFFF0000</string>
                        <string>Quote,#FF0000FF</string>
                        <string>QuotedString,#FF00008B</string>
                        <string>Tag,#FF00008B</string>
                        <string>Text,#FF000000</string>
                        <string>CharacterData,#FF808080</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditorConsoleNoToolsTwoRowsEditorHeight" serializeAs="String">
                <value>0.53988584293080977</value>
            </setting>
            <setting name="UseEnterToSelectInScriptPaneIntellisense" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Column0ToolsNoEditor" serializeAs="String">
                <value>0.86191957287866461</value>
            </setting>
            <setting name="AutoSaveMinuteInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ConsolePaneForegroundColor" serializeAs="String">
                <value>#FFF5F5F5</value>
            </setting>
            <setting name="ShowWarningBeforeSavingOnRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsoleTokenColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Attribute,#FFB0C4DE</string>
                        <string>Command,#FFE0FFFF</string>
                        <string>CommandArgument,#FFEE82EE</string>
                        <string>CommandParameter,#FFFFE4B5</string>
                        <string>Comment,#FF98FB98</string>
                        <string>GroupEnd,#FFF5F5F5</string>
                        <string>GroupStart,#FFF5F5F5</string>
                        <string>Keyword,#FFE0FFFF</string>
                        <string>LineContinuation,#FFF5F5F5</string>
                        <string>LoopLabel,#FFE0FFFF</string>
                        <string>Member,#FFF5F5F5</string>
                        <string>NewLine,#FFF5F5F5</string>
                        <string>Number,#FFFFE4C4</string>
                        <string>Operator,#FFD3D3D3</string>
                        <string>Position,#FFF5F5F5</string>
                        <string>StatementSeparator,#FFF5F5F5</string>
                        <string>String,#FFDB7093</string>
                        <string>Type,#FF8FBC8F</string>
                        <string>Unknown,#FFF5F5F5</string>
                        <string>Variable,#FFFF4500</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowIntellisenseInConsolePane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowHeightSetting" serializeAs="String">
                <value>920</value>
            </setting>
            <setting name="MainWindowWidthSetting" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="WarningBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="DebugForegroundColorSetting" serializeAs="String">
                <value>#FF00FFFF</value>
            </setting>
            <setting name="ShowDefaultSnippets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIntellisenseInScriptPane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Column4ToolsAndEditor" serializeAs="String">
                <value>0.26</value>
            </setting>
            <setting name="UseEnterToSelectInConsolePaneIntellisense" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ErrorForegroundColor" serializeAs="String">
                <value>#FFFF9494</value>
            </setting>
            <setting name="VerboseForegroundColorSetting" serializeAs="String">
                <value>#FF00FFFF</value>
            </setting>
            <setting name="DebugBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="MruCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>257</value>
            </setting>
            <setting name="ScriptPaneForegroundColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>337</value>
            </setting>
            <setting name="SelectedScriptPaneState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Column2ToolsAndEditor" serializeAs="String">
                <value>0.37</value>
            </setting>
            <setting name="ScriptPaneBackgroundColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="EditorConsoleNoToolsTwoRowsConsoleHeight" serializeAs="String">
                <value>0.46011415706919023</value>
            </setting>
            <setting name="IntellisenseTimeoutInSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Column2ToolsNoEditor" serializeAs="String">
                <value>0.13808042712133536</value>
            </setting>
            <setting name="ErrorBackgroundColor" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="UseLocalHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScriptOnFirstRunspace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWarningForDuplicateFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TokenColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Attribute,#FF00BFFF</string>
                        <string>Command,#FF0000FF</string>
                        <string>CommandArgument,#FF8A2BE2</string>
                        <string>CommandParameter,#FF000080</string>
                        <string>Comment,#FF006400</string>
                        <string>GroupEnd,#FF000000</string>
                        <string>GroupStart,#FF000000</string>
                        <string>Keyword,#FF00008B</string>
                        <string>LineContinuation,#FF000000</string>
                        <string>LoopLabel,#FF00008B</string>
                        <string>Member,#FF000000</string>
                        <string>NewLine,#FF000000</string>
                        <string>Number,#FF800080</string>
                        <string>Operator,#FF696969</string>
                        <string>Position,#FF000000</string>
                        <string>StatementSeparator,#FF000000</string>
                        <string>String,#FF8B0000</string>
                        <string>Type,#FF006161</string>
                        <string>Unknown,#FF000000</string>
                        <string>Variable,#FFA82D00</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MRU" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>C:\Users\chris\OneDrive\Dokument\ToGit\WindowsPowerShell\Esp-Header-Export\readHeaderEsp.ps1</string>
                        <string>C:\Users\chris\OneDrive\Dokument\ToGit\WindowsPowerShell\Esp-Header-Export\FilterByWildcard\filterByWildcard.ps1</string>
                        <string>C:\Users\chris\OneDrive\Dokument\ToGit\JsonWorkSpace\Untitled1.ps1</string>
                        <string>C:\Users\chris\OneDrive\Dokument\ToGit\WindowsPowerShell\FetchRemoteBranches.ps1</string>
                        <string>C:\Users\chris\OneDrive\Dokument\ToGit\Notebook-Foam\Notebook-Foam\GistsToFoam.ps1</string>
                        <string>C:\Users\chris\OneDrive\Dokument\ToGit\Notebook-Foam\GistsToFoam.ps1</string>
                        <string>E:\Programming(projects)\WindowsPowerShell\NtfAndSharePermission.ps1</string>
                        <string>E:\Programming(projects)\reg\readMyfolderListAndWriteBackToreg.ps1</string>
                        <string>E:\Programming(projects)\WindowsPowerShell\flattenJson\New Text Document.ps1</string>
                        <string>E:\Programming(projects)\WindowsPowerShell\flattenJson.ps1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LastFilePath" serializeAs="String">
                <value>C:\Users\chris\OneDrive\Dokument\ToGit\WindowsPowerShell\Esp-Header-Export</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>95</value>
            </setting>
        </UserSettings>
        <Microsoft.Management.UI.Internal.ShowCommand.ShowCommandSettings>
            <setting name="ShowOneCommandHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="ShowOneCommandLeft" serializeAs="String">
                <value>770</value>
            </setting>
            <setting name="ShowOneCommandWidth" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="ShowOneCommandTop" serializeAs="String">
                <value>295</value>
            </setting>
        </Microsoft.Management.UI.Internal.ShowCommand.ShowCommandSettings>
    </userSettings>
</configuration>