<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResXManager.VSIX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ResXManager.VSIX.Properties.Settings>
            <setting name="MoveToResourcePreferedKeyPatterns" serializeAs="String">
                <value>[{"Key":".cs","Value":0}]</value>
            </setting>
            <setting name="MoveToResourcePreferedReplacementPatterns" serializeAs="String">
                <value>[{"Key":".cs","Value":0}]</value>
            </setting>
        </ResXManager.VSIX.Properties.Settings>
    </userSettings>
</configuration>