<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Microsoft.Research.ICE.Properties.Settings>
            <setting name="HasCheckedForImageCacheEnvironmentVariable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0846936d-cc29-4efc-a422-4ef5db123560</value>
            </setting>
        </Microsoft.Research.ICE.Properties.Settings>
    </userSettings>
</configuration>